
<% include ../header.ejs %>

<div class="uk-container uk-container-small doc">
  <ul class="uk-breadcrumb">
    <li><a href="/"><span uk-icon="home"></span></a></li>
    <li><span>Условия использования</span></li>
</ul>
<div class="main_content">
<h1>Условия использования сервиса Yousters Subscribe</h1>

<h3>1. Общие положения</h3>

<p class="docp">1.1. Настоящие Условия (далее – Условия) представляют собой предложение Сиренко Алексея Владимировича (107014, Россия, г. Москва, ул. Смоленская, д. 6) (далее — Юстерс) пользователю сети Интернет (далее — Пользователь) — использовать сервис Yousters Subscribe (далее — «Сервис») в объеме, который соответствует уровню доступа Пользователя в Сервисе на момент использования программы «Yousters Subscribe» для мобильных устройств (далее — Программа).</p>

<p class="docp">1.2. Использование Пользователем Сервиса регулируется настоящими Условиями, а также документами:</p>

<ul class="docul">
  <li>«Лицензионное соглашение на использование программы «Yousters Subscribe» для мобильных устройств», размещенные по адресу: <a href="https://you-scribe.ru/legal/user-agreement">https://you-scribe.ru/legal/user-agreement</a>,</li>
  <li>«Политика конфиденциальности», размещенная в сети Интернет по адресу: <a href="https://you-scribe.ru/legal/confidential">https://you-scribe.ru/legal/confidential</a>.</li>
  <li>Договор подписания (далее – Договор) в случае регистрации Пользователя в Сервисе.</li>
</ul>

<p class="docp">1.3. Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия Регулирующих документов, Лицензионного соглашения на использование программы «Yousters Subscribe», а в случае регистрации Пользователя в Сервисе также Договора подписания и/или дополнительных соглашений к Договору в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Условий и/или Регулирующих документов, Лицензионного соглашения на использование программы «Yousters Subscribe», а в случае регистрации Пользователя в Сервисе также Договора подписания и/или дополнительных соглашений к Договору, Пользователь не вправе использовать Сервис.</p>

<p class="docp">1.4. Юстерс вправе в любое время без уведомления Пользователя изменить положения настоящих Условий, Регулирующих документов и Лицензионного соглашения на использование программы «Yousters Subscribe». Действующая редакция настоящих Условий размещается по адресу: <a href="https://you-scribe.ru/legal/termsofuse">https://you-scribe.ru/legal/termsofuse</a>. Риск неознакомления с новой редакцией Условий, Регулирующих документов и Лицензионного соглашения на использование программы «Yousters Subscribe» несет Пользователь, продолжение пользования Сервисом после изменения Условий, Регулирующих документов или Лицензионного соглашения на использование программы «Yousters Subscribe» считается согласием с их новой редакцией.</p>

<p class="docp">1.5. В случае если Юстерсом были внесены какие-либо изменения в настоящие Условия, в порядке, предусмотренном п.1.4. настоящих Условий, с которыми Пользователь не согласен, он обязан прекратить использование Сервиса.</p>

<p class="docp">1.6. Сервис предлагается Пользователю в объеме, который соответствует уровню доступа Пользователя в Сервисе на момент использования Программы. Все существующие на данный момент функции Сервиса, а также любое развитие их и/или добавление новых является предметом настоящих Условий.</p>

<p class="docp">1.7. Юстерс вправе в любое время без уведомления Пользователя изменить функциональные возможности Сервиса.</p>

<p class="docp">1.8. Сервис предоставляется Пользователю для личного некоммерческого использования в объеме, который соответствует уровню доступа Пользователя в Сервисе на момент использования Программы</p>

<h3>2. Регистрация в Сервисе. Предоставление информации</h3>

<p class="docp">2.1. В целях предоставления доступа к Сервису Пользователь должен пройти регистрацию в Сервисе с использованием действующей своего номера мобильного телефона. На указанный номер мобильного телефона направляется код, который Пользователю необходимо ввести в целях верификации Пользователя.</p>

<p class="docp">2.2. Передача или раскрытие Пользователем своих регистрационных данных третьим лицам запрещена. В случае наличия подозрений, что данными завладело или пользуется третье лицо, Пользователь обязан незамедлительно сообщить об этом службе поддержки Сервиса <a href="mailto:support@you-scribe.ru">support@you-scribe.ru</a>. При этом все действия в рамках или с использованием Сервиса под учетной записью Пользователя считаются произведенными самим Пользователем, за исключением случаев, когда Пользователь, в порядке, предусмотренном настоящим пунктом, уведомил службу поддержки Сервиса о несанкционированном доступе к Сервису с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своих средств доступа к учетной записи.</p>


<p class="docp">2.3. После введения кода, присланного на номер мобильного телефона Пользователя, Пользователь предоставляет следующие документы и информацию о себе, включая свои персональные данные:</p>


<ul class="docul">
<li>ИНН</li>
<li>электронную почту</li>
<li>фотографию паспорта (разворот с фотографией и данными о регистрации)</li>
<li>видео Пользователя с паспортом</li>
</ul>

<p class="docp">2.4. Необходимая информация и документы предоставляются Пользователем в порядке и формате, предусмотренным Программой. Состав и комплектность необходимой информации и документов могут быть изменены по решению Сервиса. Список необходимой информации и документов, указанный в п. 2.3. выше, может отличаться от необходимой информации и документов, запрашиваемых в Программе. Актуальный список необходимой информации и документов содержится в Программе.</p>

<p class="docp">2.5. Указанные в п.2.3 документы и информация отправляются на проверку, по результатам которой Пользователю направляется ответ с информацией о предоставлении доступа к полному функционалу Сервиса (регистрация в Сервисе) или о невозможности предоставления доступа к полному функционалу Сервиса (отказе в регистрации в Сервисе).</p>

<p class="docp">2.6. Согласие на обработку данных Пользователя действительно в течение срока, необходимого для предоставления Сервиса.</p>

<p class="docp">2.7. Юстерс оставляет за собой право на свое усмотрение отказать Пользователю в доступе к Сервису или ограничить доступ Пользователя к Сервису (или к определенным функциям Сервиса, если это возможно технологически) с использованием его учетной записи или полностью заблокировать учетную запись Пользователя, в том числе, но не ограничиваясь, при обнаружении неполноты предоставленных Пользователем сведений или недостоверных сведений, предоставленных Пользователем, неоднократном нарушении настоящих Условий, условий Договора аренды и/или дополнительных соглашений к Договору, либо применить к Пользователю иные меры с целью соблюдения требований законодательства или прав и законных интересов третьих лиц.</p>

<h3>3. Использование Сервиса. Отдельные функции Сервиса</h3>

<p class="docp">3.1. Сервис предлагает Пользователю бесплатную возможность ознакомиться с информацией о Сервисе, включая, условия регистрации Пользователя в Сервисе, правилах и условиях использования Сервиса, а также возможность использовать Сервис в объеме, который соответствует уровню доступа Пользователя в Сервисе на момент использования Программы, а также совершать иные действия, предусмотренные Условиями использования Сервиса при наличии у Пользователя соответствующего уровня доступа к таким услугам. Зарегистрированному Пользователю предоставляется возможность загрузить договор (далее – Договор) через Программу с опцией подписания на условиях Договора подписания и/или дополнительных соглашений к Договору, если Пользователь соглашается с условиями Договора подписания и/или дополнительных соглашений к Договору.</p>

<p class="docp">3.2. Для получения подробной информации о Сервисе Пользователь может либо обратиться в службу поддержки Сервиса, либо, используя функциональные возможности Сервиса, предоставить свои контактные данные, по которым служба поддержки Сервиса сможет самостоятельно связаться с Пользователем и предоставить ему такую информацию.</p>

<p class="docp">3.3. Используя Сервис, Пользователь дает свое согласие на получение сообщений рекламного и информационного характера. Пользователь вправе отказаться от получения сообщений рекламного характера путем использования соответствующего функционала Сервиса или следуя инструкциям, указанным в полученном сообщении рекламного характера.</p>

<p class="docp">3.4. Используя Сервис, Пользователь подтверждает, что он предупрежден и согласен с тем, что Сервис предоставляется Пользователю в объеме, который соответствует уровню доступа Пользователя в Сервисе на момент использования Программы Юстерс вправе вносить любые изменения в структуру и алгоритмы работы Сервиса, приостанавливать его работоспособность или работоспособность его функций, изменять или прекращать выполнение функций Сервиса без заблаговременного предупреждения Пользователя и без выражения последним согласия на это.</p>

<h3>4. Платежные данные</h3>

<p class="docp">4.1. Сервис предоставляется Пользователю на безвозмездной основе. Услуги по подписании договоров предоставляются в соответствии с условиями Договора подписания и/или дополнительных соглашений к Договору. Актуальная информация о тарифах по Договору подписания и/или дополнительных соглашений к Договору доводится до сведения Пользователя в том числе через Программу.<p>

<p class="docp">4.2. В целях подключения Пользователя к Сервису и дальнейшей возможности оплаты по Договору подписания и/или дополнительных соглашений к Договору Пользователь привязывает свою банковскую карту к Программе (п. 4.3 настоящих Условий).
<br/>
При безналичной оплате по усмотрению Юстерса возможно проведение как одной транзакции на полную стоимость услуги, так и нескольких транзакций на отдельные части стоимости услуги. При этом безналичная оплата может быть произведена любым из указанных способов во время поездки, либо по ее завершении.
<br/>
Юстерс не гарантирует отсутствия ошибок и сбоев в отношении предоставления возможности безналичной оплаты.
</p>

<p class="docp">4.3. Привязанная банковская карта может указываться Пользователем в настройках Программы, при этом Пользователь указывает следующие данные:</p>


  <ul class="docul">
  <li>Номер банковской карты</li>
  <li>Действительна до</li>
  <li>Защитный код</li>
  </ul>



<p class="docp">Если данные банковской карты верны, действительны и использование данной карты в рамках Сервиса технически возможно, указанная банковская карта приобретает статус Привязанной и может быть использована для безналичной оплаты (п. 4.2 настоящих Условий). Все Привязанные карты отображаются в настройках Программы; для удобства Пользователя в отношении Привязанной карты отображаются 4 последние цифры номера Привязанной карты, что не противоречит п. 4.4 настоящих Условий.</p>

<p class="docp">4.4. При указании своих данных согласно п.4.3 настоящих Условий и дальнейшем использовании Привязанной карты Пользователь подтверждает и гарантирует указание им достоверной и полной информации о действительной банковской карте, выданной на его имя; соблюдение им правил международных платежных систем и требований банка-эмитента, выпустившего Привязанную карту, в том числе в отношении порядка проведения безналичных расчетов.</p>

<p class="docp">4.5. Юстерс оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных им в рамках Сервиса, в том числе данных Привязанной карты, и запросить в связи с этим подтверждение личности Пользователя путем как личного присутствия в офисе Сервиса, так и предоставление подтверждающих документов (в частности, документов, удостоверяющих личность), непредоставление которых, по усмотрению Юстерса, может быть приравнено к предоставлению недостоверной информации и повлечь последствия, предусмотренные п. 2.10 настоящих Условий.</p>
</div>
</div>
  <% include ../footer.ejs %>
