<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>
  <div class="uk-container uk-container-xsmall">
    <div class="uk-grid-small" uk-grid>
      <div id="signView">
        <h1 class="certificate" style="margin-top: 60px">Yousters Subscribe</h1>
        <h3 class="subtitle">Подпись в один клик</h3>
        <form>

            <div class="uk-margin">
                <input id="phoneField" class="uk-input uk-form-width-medium uk-form-large phone_mask" type="text" name="phone" placeholder="Номер телефона">

                <input id="codeField" maxlength="6" hidden class="uk-input uk-form-width-medium uk-form-large" type="text" name="code" placeholder="Код">
            </div>
            <a href="#" id="api_submit" class="main-button case-sub-button">Продолжить</a>
        </form>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>
  <script src="/js/sign.js"></script>
</body>
</html>
