@font-face {
  font-family: "GilroyRegular";
  src: url("/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "GilroyMedium";
  src: url("/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroySemiBold";
  src: url("/fonts/Gilroy-SemiBold.ttf");
}

h1 {
  font-family: "GilroySemiBold" !important;
  color: #000 !important;
}

h2 {
  font-family: "GilroyMedium" !important
}

h3 {
  font-family: "GilroyMedium" !important
}
.youstersh2 {
  vertical-align: middle;
  line-height: 60px;
  margin: 0;   /* font-size: 30px; */
  margin-left: 20px;
}
.youstersp {
  font-family: "GilroyMedium" !important
}
.certificate {
  text-align: center;
  margin-top: 30px;
}
p.subtitle {
  font-family: "GilroyRegular" !important;
  font-size: 17px;
  margin: 0;
}
p.emoji-hash {
  font-size: 30px;
  margin: 0;
}
p.title {
  font-family: "GilroyMedium" !important;
  font-size: 23px;
  margin: 0;
  color: #000;
}
p.smalltitle {
  font-family: "GilroyMedium" !important;
  font-size: 18px;
  margin: 0;
  color: #000;
}
.block {
  margin: 15px 0;
}

.main-button {
  font-family: "GilroyMedium";
  background: #1F1F1F;
  padding: 15px 30px;
  border-radius: 7px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-button:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.cryptolink {
  color: #000;
}
.cryptolink:hover {
  text-decoration: none;
  color: #000;

}
.case-sub-button {
  display: inline-block;
  /* margin-top: 15px; */
}
.italic {
  margin: 10px 0;
  font-style: italic;
}
.doc {
  margin-top: 25px;
  margin-bottom: 25px;
}
.docp {
  font-family: "GilroyMedium";
  color: #000;
}
.docul {
  font-family: "GilroyMedium";
  color: #000;
}
h2.doc {
  font-family: "GilroySemiBold" !important
}
.h2-span {
  font-size: 20px;
}
.uk-breadcrumb {
  font-family: "GilroyRegular";
}
.footer-socials {
  margin-right: 30px;
}
.main-footer-socials {
  float: right;
}
.footer-text p {
  float: left;
}
.uk-accordion-title {
  font-family: "GilroySemiBold"
}
.uk-accordion-content p {
  font-family: "GilroyRegular";
}
.secondary-color-but {
  background: #F5F7FC;
  color: #000;
}
.secondary-color-but:hover {
  color: #000;
  background: #e7e9ec;
  opacity: 1;
}
.login-but {
  margin: 30px 35px;
}
#signView {
  text-align: center;
  margin: 0 auto;
}
#signView .subtitle {
  margin-top: -10px;
  opacity: 0.6;
}

#signView .main-button {
  font-size: 18px;

}
#signView .uk-input.custom {
  font-family: "GilroyMedium";
  color: #000;
  border: none;
  text-align: center;
  font-size: 28px;
  width: 300px;
  margin-bottom: 10px;
}

.uk-notification {
  font-family: "GilroyMedium";
}
.agreement-cell h4 {
  font-family: "GilroyMedium";
  margin-bottom: 5px;
}
.agr-status{
  display: inline;
  font-family: "GilroyRegular";
  color: #fff;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 13px;
  background: #000;
  margin-bottom: 8px;
}
.agreement-cell-a:hover {
  text-decoration: none;
}
.mobile-padding {
  margin: 10px 0;
}
.desctop-padding {
  margin: 40px 0;
}
.full-width-but {
  display: block;
  text-align: center;
}
.common-buttons a {
  margin-bottom: 15px;
}
.common-buttons a:last-child {
  margin-top: 35px;
  margin-bottom: 35px;
}
a.with-out-bg {
  background: transparent;
  margin-bottom: 5px;
  padding: 5px;
}
a.with-out-bg:hover {
  background: transparent;
  opacity: 0.6;
}
a.youstersnav {
  font-family: "GilroyMedium";
}
.button-with-minwidth {
   min-width: 250px;
   text-align: center;
 }
.non-phiz-wrap input {
  width: 275px;
  margin: 0 auto;
  border: none;
 }
 .block .uk-card-secondary {
   background: #F5F7FC;
   box-shadow: none;
   margin-bottom: 15px;
   border-radius: 8px;

 }
 .block .uk-card-secondary p {
   font-size: 15px;
   color: #000;
 }
 .block .uk-card-secondary p.title {
   font-size: 18px;
   color: #000;
 }
 .block .uk-card-secondary h4 {
   color: #000;
 }
 .block .uk-card-secondary span {
   font-size: 20px;
   float: right;
 }
 .pakets-wrapper {
   overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  border-radius: 8px;
 }
 .paket-wrapper {
   width: 260px;
   box-sizing: border-box;
   padding: 20px;
   display: inline-block;

   border-radius: 8px;
   height: 270px;
   background: #F5F7FC;
   margin-right: 15px;
 }
 .paket-wrapper:last-child {;
   margin-right: 0px;
 }
.paket-wrapper h4 {
  font-family: 'GilroySemiBold';
  font-size: 24px;
}
.paket-wrapper h4 span {
  float: right;
  font-size: 26px;
}
.paket-wrapper p {
  white-space: break-spaces;
  line-height: 20px;
}
.paket-wrapper p.description {
  font-family: "GilroyRegular";
}
.paket-wrapper .main-button {
  padding: 6px 10px;
}
.uk-form-width-medium {
    width: 300px;
}
.vk-icon {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}
.footer-socials .vk-icon {
  fill: #999
}
.vk-icon:hover {
  fill: #666;
}
.add-agreement-wrap input {
  /* width: 400px; */
  border: none;
  text-align: center;
  color: #000;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.agr_title {
  font-family: "GilroySemiBold" !important;
  margin-top: 40px
}
.block .code-input {
  margin: 10px 0;
  padding: 20px 0;
    border: none;
    width: 125px;
    /* font-size: 27px; */
    color: #000;
  height: 66px;
}

#sign-doc-wrap {
  margin-top: 100px;
}

#sign-doc-wrap input {
  font-family: "GilroyMedium"
}


@media (min-width: 991px) {
  .home-about-right {
    margin-bottom: 30px
  }
}
@media (max-width: 991px) {
  .home-about-right {
    margin-bottom: 0px
  }
}

.offer_inp {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

.offer_inp textarea {
  resize: none;
}
.mobile_padding_from_inp {
  padding-bottom: 260px;
}
.desc_padding_from_inp {
  padding-bottom: 180px;
}

.home-about-right p {
    margin-bottom: 40px;
}
.agreement-cell p.smalltitle {
  font-family: "GilroyMedium" !important;
    font-size: 15px;
    margin: 0;
    color: #6b6b6b;
}
.agreement-cell span.smalltitle {
  font-family: "GilroyMedium" !important;
    font-size: 13px;
    margin: 0;
  background: #212121;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: 5px;
}
.uk-card {
  position: relative;

}

.guest .uk-card:after, .me .uk-card:after {
  width: 10px;
  height: 45px;
  position: absolute;
  bottom: 0;
}
.guest .uk-card:after {
  background: #fff;
  left: -4px;
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}
.me .uk-card:after {
  background: #1e87f0;
  right: -4px;
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}
@media print {
  .main-button {
    display: none;
  }
  .hide-on-print {
    display: none;
  }
}
