@font-face {
  font-family: "GilroyRegular";
  src: url("/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "GilroyMedium";
  src: url("/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroySemiBold";
  src: url("/fonts/Gilroy-SemiBold.ttf");
}

h1 {
  font-family: "GilroySemiBold" !important;
  color: #000 !important;
}

h2 {
  font-family: "GilroyMedium" !important
}

h3 {
  font-family: "GilroyMedium" !important
}
.youstersh2 {
  vertical-align: middle;
  line-height: 60px;
  margin: 0;   /* font-size: 30px; */
  margin-left: 20px;
}
.youstersp {
  font-family: "GilroyMedium" !important
}
.certificate {
  text-align: center;
  margin-top: 30px;
}
p.subtitle {
  font-family: "GilroyRegular" !important;
  font-size: 17px;
  margin: 0;
}
p.title {
  font-family: "GilroyMedium" !important;
  font-size: 23px;
  margin: 0;
  color: #000;
}
p.smalltitle {
  font-family: "GilroyMedium" !important;
  font-size: 18px;
  margin: 0;
  color: #000;
}
.block {
  margin: 15px 0;
}

.main-button {
  font-family: "GilroyMedium";
  background: #1F1F1F;
  padding: 15px 30px;
  border-radius: 7px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-button:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.cryptolink {
  color: #000;
}
.cryptolink:hover {
  text-decoration: none;
  color: #000;

}
.case-sub-button {
  display: inline-block;
  /* margin-top: 15px; */
}
.italic {
  margin: 10px 0;
  font-style: italic;
}
.doc {
  margin-top: 25px;
  margin-bottom: 25px;
}
.docp {
  font-family: "GilroyMedium";
  color: #000;
}
.docul {
  font-family: "GilroyMedium";
  color: #000;
}
h2.doc {
  font-family: "GilroySemiBold" !important
}
.h2-span {
  font-size: 20px;
}
.uk-breadcrumb {
  font-family: "GilroyRegular";
}
.footer-socials {
  margin-right: 30px;
}
.main-footer-socials {
  float: right;
}
.footer-text p {
  float: left;
}
