<nav class="uk-navbar-container navbar" uk-navbar>
  <div class="uk-navbar-left uk-visible@m">
    <ul class="uk-navbar-nav">
          <h2 class="youstersh2"><a class="cryptolink" href="/">Yousters Subscribe</a> <span class="h2-span">legal</span></h2>
      </ul>

  </div>
  <div class="uk-navbar-center">
    <a class="youstersp" href="mailto:support@you-scribe.ru">support@you-scribe.ru</a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-iconnav footer-socials">
    <li><a href="https://web.facebook.com/youscriberu-109020264219376" uk-icon="icon: facebook"></a></li>
    <li><a href="https://instagram.com/youscribe.ru?igshid=y7duj5yfml6o" uk-icon="icon: instagram"></a></li>
  </ul>
</nav>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
