<!DOCTYPE html>
<html>
<head>
  <title><% if (locals.page_title) { %>
      <%= page_title + " - "%>
    <% } else { %>
      <%= "" %>
    <% } %>Yousters Subscribe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" />
</head>

<body>
<div uk-sticky="sel-target: .navbar; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container navbar" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
            <h2 class="youstersh2"><a class="cryptolink" href="/">Yousters Subscribe</a> <span class="h2-span">legal</span></h2>
        </ul>

    </div>
    <div class="uk-navbar-right uk-visible@m">
      <img
  src="/images/dwnldAppStoreWhite.svg"
  alt="triangle with all three sides equal"
  height="100px"
  width="100px" style="margin-right: 20px" />
    </div>
  </nav>
  </div>
