
<% include ../header.ejs %>

<div class="uk-container uk-container-small doc">
  <ul class="uk-breadcrumb">
    <li><a href="/"><span uk-icon="home"></span></a></li>
    <li><span>F.A.Q</span></li>
</ul>

<h1>F.A.Q</h1>

<ul uk-accordion="collapsible: false">
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Как зарегистрироваться?</a>
        <div class="uk-accordion-content">
            <p>Индивидуальных предпринимателей и юридических лиц мы просим сделать оплату со счета в размере 1 руб. Это так называемый "верификационный платеж".
              <br>   <br>  Физических лиц просим прислать видео-селфи с паспортом.
<br>   <br>
Регистрация полностью дистацнионная, от вас не потребуется куда-то приезжать или ждать курьера.

</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Как долго проверяются данные?</a>
        <div class="uk-accordion-content">
            <p>В среднем проверка занимает 2-3 часа.
<br>   <br>
За это время банк проведет платеж на 1 руб., если вы регистрируете компанию.
<br>   <br>
В случае с физическими лицами, нейронная сеть проверяет фотографии на соответствие и наличие подделок. Кроме того, проверку проходят данные паспорта и принадлежность номера телефона пользователю. Мы должны быть точно уверены, что все данные соответстуют действительности.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Документы подписаны электронной подписью?</a>
        <div class="uk-accordion-content">
            <p>Электронная подпись - настолько широкое понятие, что даже сообщения по электронной почте или в социальных сетях считаются подписанными простой электронной подписью.
<br>   <br>
Благодаря системе шифрования файла документа можно говорить о неквалифицированной электронной подписи.
<br>   <br>
Следует отметить, что упоминание электронной подписи исключено из п. 2 ст. 160 ГК РФ, из чего можно сделать вывод, что теперь для использования электронной подписи не требуется, чтобы ее использование было предусмотрено законом, иным правовым актом или соглашением сторон.</p>
        </div>
    </li>
</ul>
</div>
  <% include ../footer.ejs %>
