<!DOCTYPE html>
<html lang="ru">
  <head>
    <% include ../../partials/header.ejs %>
  </head>
  <body>
      <video controls autoplay>
        <source src="<%= videoURL %>" type="<%= videoType %>">
      </video>

  </body>
</html>
