<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="uk-container uk-container-xsmall">
    <h1 style="font-size: 60px">
      Yousters Subscribe
    </h1>
  </div>
</body>
</html>
