<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="cover-container">

            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand">Yousters</h3>
              </div>
            </div>

            <div class="inner cover">
              <h1 class="cover-heading">Нужна поддержка?</h1>
              <p class="lead">Если у вас возникли вопросы или у вас есть предложения по улучшению, пишите!</p>
              <p class="lead">
                <a href="mailto:usterslawyers@gmail.com" class="btn btn-lg btn-default">Написать нам</a>
              </p>
            </div>

          </div>

        </div>

      </div>


</body>
</html>
